.container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  opacity: 0.8;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin: 2%;
  border-radius: 22px;
  padding: 2% 1%;
  max-width: min-content;
}
.name {
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 76px;
  /* identical to box height, or 317% */

  text-align: center;

  color: #ffffff;
}

.info {
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
  text-align: center;

  color: #ffffff;
}
