.home {
  background-image: url('../../assets/images/home-wallpaper.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12.5rem 0px;
  display: flex;
  flex-direction: column;
  padding-left: 7.5rem;
  white-space: pre-line;
}

@media only screen and (max-width: 700px) {
  .home {
    background-image: url('../../assets/images/home-wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12.5rem 0px;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    white-space: pre-line;
    max-width: 100%;
  }
}

.first {
  padding-top: 2.5%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.58);
}

.grad {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  text-transform: uppercase;
  background: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.second {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  text-transform: uppercase;
  color: white;
}

.third {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
@media only screen and (max-width: 700px) {
  .first {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.58);
  }
  .grad {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    background: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .second {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: white;
  }
  .third {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
  }
}

.btn1 {
  background: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
  border-radius: 10px;
  padding: 0.5% 2.5%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  cursor: pointer;
  color: #ffffff;
  border: none;
}
.btn1:hover {
  color: rgba(255, 255, 255, 0.57);
  transition: 0.2s;
}
.btn2:hover {
  color: rgba(255, 255, 255, 0.57);
  transition: 0.2s;
}
.btn2 {
  border: 2px;
  border-color: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
  border-radius: 10px;
  padding: 0.5% 2.5%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  margin-left: 1%;
  background: linear-gradient(90.32deg, #020202 0.37%, rgba(2, 2, 2, 0.31) 99.82%);
  /* identical to box height */
  cursor: pointer;
  color: #ffffff;
}

@media only screen and (max-width: 700px) {
  .btn1 {
    background: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
    border-radius: 10px;
    padding: 0.5% 2.5%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    width: 113px;
    height: 34px;
    /* identical to box height */
    /* identical to box height */
    cursor: pointer;
    color: #ffffff;
  }
  .btn2 {
    border: 2px;
    border-color: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
    border-radius: 10px;
    width: 113px;
    height: 34px;
    padding: 0.5% 2.5%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-left: 1%;
    background: linear-gradient(90.32deg, #020202 0.37%, rgba(2, 2, 2, 0.31) 99.82%);
    /* identical to box height */
    cursor: pointer;
    color: #ffffff;
  }
}

.coins {
  background-image: url('../../assets/images/coin-wallpaper.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10% 0px;
  box-sizing: border-box;
  white-space: pre-line;
}

.player {
  width: 80%;
  margin: auto;
}

.about {
  background-image: url('../../assets/images/about-wallpaper.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12.5rem 0px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10%;
  white-space: pre-line;
  overflow: hidden;
}

.aboutHead {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 76px;
  /* or 190% */
  color: #ffffff;
}

.aboutLine {
  margin-right: 1%;
}

.aboutInfo {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-left: 1.5%;
  width: 60%;
  text-align: justify;
  color: #ffffff;
}

.readMore {
  margin-left: 1.5%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.readMore:hover {
  color: rgba(255, 255, 255, 0.57);
  transition: 0.2s;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.howHead {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 76px;
  /* or 190% */
  color: #ffffff;
  align-self: center;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.howRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.howbtn2:hover {
  color: rgba(255, 255, 255, 0.57);
  transition: 0.2s;
}
.howbtn2 {
  cursor: pointer;
  border: 2px;
  border-color: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
  border-radius: 27px;
  padding: 0.5% 2.5%;
  background-color: transparent;
  box-sizing: border-box;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;

  background: rgba(255, 255, 255, 0.11);
  align-content: center;
}
.howreadMore:hover {
  color: rgba(255, 255, 255, 0.57);
  transition: 0.2s;
}
.howreadMore {
  cursor: pointer;
  margin-left: 1.5%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0;
  align-content: flex-end;
  margin-right: 5%;
}

@media only screen and (max-width: 700px) {
  .aboutHead {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 76px;
    /* or 380% */
    color: #ffffff;
  }
  .aboutInfo {
    font-family: 'Nunito';
    font-style: normal;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    margin: auto;
    text-align: justify;
    color: #ffffff;
    padding-left: 1%;
  }
  .readMore {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    color: #ffffff;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .howHead {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 76px;
    /* or 190% */
    color: #ffffff;
    text-align: left;
  }
  .howRow {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .howreadMore {
    cursor: pointer;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    align-self: flex-start;
    color: #ffffff;
    background-color: transparent;
    border: none;
    padding-left: 1%;
  }
  .howbtn2 {
    margin-top: 10%;
    display: flex;
    width: 143px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: auto;
    height: 46px;
    cursor: pointer;
    border: 2px;
    border-color: linear-gradient(89.95deg, #ffc700 0.07%, #ff7a00 24.98%, #ff2e00 47.05%, #fe007a 68.11%, #bd00ff 96.53%);
    border-radius: 27px;
    padding: 0.5% 2.5%;
    background-color: transparent;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    align-self: center;
    color: #ffffff;
    align-items: center;
    background: rgba(255, 255, 255, 0.11);
    align-content: center;
  }
}

.token {
  background-image: url('../../assets/images/token-wallpaper.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12.5rem 0px;
  display: flex;
  flex-direction: column;
  margin: auto;
  white-space: pre-line;
  overflow: hidden;
}

.roadmap {
  background-image: url('../../assets/images/roadmap-wallpaper.png');
  padding-bottom: 12.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: -180px auto;
  white-space: pre-line;
  overflow: hidden;
}

.nftTitle {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 76px;
  /* or 190% */
  text-align: center;
  max-height: 40vh;
  color: #ffffff;
}

.hlineImage {
  position: relative;
  padding-bottom: 20%;
}

.nftProfiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nftfooter {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 76px;
  /* identical to box height, or 238% */
  text-align: center;

  color: #ffffff;
}

@media only screen and (max-width: 700px) {
  .nftTitle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 76px;
    /* or 190% */
    text-align: center;
    max-height: 40vh;
    color: #ffffff;
  }

  .nftProfiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nftfooter {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 76px;
    /* identical to box height, or 238% */

    text-align: center;

    color: #ffffff;
  }
}

.teamProfiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.modal {
  width: 645px;
  height: 442px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;

  background: #ffc700;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 22px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  /* or 119% */
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #020202;
}

@media only screen and (max-width: 700px) {
  .teamProfiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal {
    width: 223px;
    height: 288px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;

    background: #ffc700;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* or 119% */
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #020202;
  }
}
