.footer {
  background: #020202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6.125rem;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem !important;
  margin-top: 50px !important;
  line-height: 2.063rem;
}

.logo {
  width: 150px;
  height: 110px;
  cursor: pointer;
}

.line_footer{
  width: 100%;
  display: none;
}

.footer > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0px;
}


.footer > ul > li > img{
transition: all ease-in-out 0.3s;
}

.col {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  align-self: start;
  cursor: pointer;
}

.social > li {
  display: flex;
  gap: 1.25rem;
  margin-top: 30px;
  transition: 0.2s ease-in-out color;
}

.social > li > .icon_social {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}




.icon_social{
  color: #fff;

}

.social > li > .icon_social:hover {
  cursor: pointer;
  scale: 1.5;
  transition: all ease-in-out .3s;
  color: #2eaaf1;

}


.icon_social{
  transition: all ease-in-out .3s;

}

.sections {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sections > .col:nth-child(1) {
  padding: 0px;
}

@media only screen and (max-width: 700px) {
  .footer {
    background: #020202;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.063rem;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
  }
  .logo {
    width: 140px;
    height: 110px;
    cursor: pointer;
  }
  .social > li > .icon_social:hover {
    filter: hue-rotate(180deg);
  }

  
.line_footer{
  width: 100%;
  display: block;
}

.social > li > .icon_social {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.social > li > .icon_social:last-child {
  width: 3.4rem;
  height: 3.4rem;
}


}
